*,*::before,*:: after {
box-sizing: border-box;
font-family: Gotham Rounded, sans-serif;
font-weight: normal;
}
body {
padding: 0;
margin: 0;
background: linear-gradient (to right, I#37005c, I#00FF)
}

•calculator-grid{
display: grid;
justify-content: center;
align-content: center;
min-height: 100vh;
grid-template-columns: repeat(4, 150px);
grid-template-rows: minmax(120px, auto) repeat (5, 150px);
}
.calculator-grid› button {
cursor: pointer;
font-size: 2rem;
border: 1px solid rgb(0, 0, 0);
outline: none;
background-color: Urgba(255, 255, 255,.75) ;
}


.caluclater-grid > buttons {
    background-color: Urgba(255, 255, 255,.9) ;
}

.spam-two{
    grid-column : span 2;
}

• output {
    grid-column: 1 /-1;
    background-color: Irgba(©, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
} 
